<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "H:\lauinger.marco\Documents\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpEndpoint" >
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Basic"/>
                </security>
              </binding>
              <binding name="BasicHttpEndpoint1" >
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Basic"/>
                </security>
              </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpEndpoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/Calculator/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint" contract="ServiceReference1.ICalculator"
                name="BasicHttpEndpoint" />
            <endpoint address="http://localhost:8085/Calculator/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint1" contract="ServiceReference2.ICalculator"
                name="BasicHttpEndpoint1" />
            <endpoint address="net.tcp://localhost:8086/Calculator" binding="netTcpBinding"
                bindingConfiguration="netTcpEndpoint" contract="ServiceReference2.ICalculator"
                name="netTcpEndpoint">
                <identity>
                    <userPrincipalName value="lauinger.marco@dh-karlsruhe.de" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>