<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="basicHttpDefaultConfiguration" maxBufferSize="1000000"
                maxReceivedMessageSize="1000000">
                <readerQuotas maxStringContentLength="1000000" maxArrayLength="1000000" />
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Basic"/> <!-- Job Verlust bei Basic-->
            </security>
            </binding>
        </basicHttpBinding>
    </bindings>
    <behaviors>
        <serviceBehaviors>
            <behavior name="DefaultServiceBehaviour">
                <serviceMetadata httpGetEnabled="true" />
            </behavior>
        </serviceBehaviors>
    </behaviors>
    <services>
        <service behaviorConfiguration="DefaultServiceBehaviour" name="CalcService.Calculator">
            <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpDefaultConfiguration"
                name="BasicHttpEndpoint" contract="CalcService.ICalculator" />
            <endpoint address="net.tcp://localhost:8086/Calculator" binding="netTcpBinding"
                bindingConfiguration="" name="netTcpEndpoint" contract="CalcService.ICalculator" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8085/Calculator" />
                </baseAddresses>
            </host>
        </service>
    </services>
</system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>